<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>MAGIC Flashback - simply the best!</title>
<meta name="description" content="MAGIC Flashback spielt Hits & weniger bekannte Titel der 60er, 70er, 80er, 90er und 2000er gemischt mit dem besten von Heute.">
<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1492726732,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"23fc1420f8b948f22a6222d6c91df4c1",petok:"27dfd9b9e89f6b487bbb521487138b0cbd4ecad6-1493692620-86400",zone:"magicfm.de",rocket:"0",apps:{"ga_key":{"ua":"UA-38291916-1","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="http://1.mgicfm.andserve.net/fav.png" type="image/x-icon">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38291916-6', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="http://api.laut.fm/js_tools/lautfm_js_tools.0.8.0.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-38291916-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
</head>
<body>
<div class="topcolor">
<div id="header">
<a href="index.htm"><img src="img/flashback.png"/></a>
<div class="playerbox">
<div class="buttonLS">Livestream</div>
<div class="buttonNP">Now Playing</div>
<div class="playbutton"><a href="#" onclick="window.open('http://magicflashback.radioplayer.me','player','width=540,height=960,scrollbars=yes'); return false;"><img src="http://assets.andserve.net/playbutton.png"></a></div>
<div id="song"><script type="text/html" id="song_template" charset="utf-8"><div class="NPtext"><div class="artist"><%= this.artist.name %></div><br><div class="title"><%= this.title %></div></div></script><script>laut.fm.station('magic-flashback').current_song({container:'song', template:'song_template'}, true);</script>
</div>
</div>
</div>
</div>
<div id="content">
<div class="toppic">
<img src="img/flashback-bg.jpg"/>
</div>
<div class="contentbox1">
<a href="playlist.htm"><img src="img/playlist.png"/></a>
</div>
<div class="contentboxad">
<div align="center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-6029969563027298" data-ad-slot="4130381559"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="contentbox1">
<a href="http://magicfm.de"><img src="img/magicfm.png"/></a>
</div>
<div class="contentbox2">
<a href="https://play.google.com/store/apps/details?id=com.andserve.magicflashback&hl=de" target="_blank"><img src="img/androidapp.png"/></a>
</div>
</div>
<div class="clear"></div>
<div id="footer">
<div class="copyright"><p>&copy; 2014 MAGIC.FM &bull; <a href="http://magicfm.de/impressum.htm">Impressum</a></p>
<p class="small" style="color:#ffffff"><a href="http://antondietel.de" target="_blank">made with &#10084; in Berlin</a></p></div>
</div>
</body>
</html>
